trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      addToPath: true

  - script: |
      pip install requests
    displayName: 'Installer les dépendances'

  - script: |
      python script.py
    displayName: 'Exécuter le script'
    env:
      AZDO_ORG: $(AZDO_ORG)
      AZDO_PROJECT: $(AZDO_PROJECT)
      QUERY_ID: $(QUERY_ID)
      AZDO_PAT: $(AZDO_PAT)
      SEVENPACE_PAT: $(SEVENPACE_PAT)
      NOM_ACTIVITE_DEV: $(NOM_ACTIVITE_DEV)
      NOM_ACTIVITE_TEST: $(NOM_ACTIVITE_TEST)

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'output'
      ArtifactName: 'export'
      publishLocation: 'Container'
    displayName: 'Publier le fichier export CSV'
